---
import { Image } from "astro:assets";
---

<header class="flex justify-center items-center py-5 w-full xl:w-[1120px]">
 
  <nav class="flex flex-row gap-x-5 opacity-80">
    <a href="#">Inicio</a>
    <a href="#experience">Expereiencia</a>
    <a href="#projects">Proyectos</a>
    <a href="#about">Sobre mi</a>
    <a href="#contact">Contactame</a>
  </nav>
</header>
